html,
body {
    min-width: 1200px;
    min-height: 2400px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.button {
    display: inline-block;
    padding: 15px 40px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #e74246;
    outline: none;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(193, 49, 53, 0.3) inset;
}

.main-header {
    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 70px;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
    padding-top: 40px;

    font-weight: 500;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;

    width: 440px;
    flex-direction: row;
    margin-left: 180px;
    margin-right: 180px;
    justify-content: space-around;
}

.user-navigation {
    max-width: 160px;
    display: flex;
    margin-left: auto;
}

.user-navigation .shopping-basket-link {
    position: relative;
    padding-left: 50px;
}

.shopping-basket-link::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 25px;
    width: 15px;
    height: 15px;

    background-image: url("img/cart-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.user-navigation-current a {
    padding-bottom: 5px;
    border-bottom: 2px solid #fb565a;
}

.slider-container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.slider {
    position: relative;
    background-color: #eeeeee;
    margin-bottom: 80px;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;        /* зачем здесь нулевой фонт? */
    transform: translateX(-50%);
}

.slider-controls label {
    display: inline-block;

    position: relative;
    width: 18px;
    height: 18px;
    padding: 8px;


    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ffffff;
}

.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
    background-image: url("img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

#btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#btn-1:checked ~ .slider-controls .slider-controls-item1::before,
#btn-2:checked ~ .slider-controls .slider-controls-item2::before,
#btn-3:checked ~ .slider-controls .slider-controls-item3::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}


.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slider-item p {
    max-width: 400px;
    margin: 0;
    margin-bottom: 38px;
}

.service {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 37px;
}

.service-list {
    display: flex;
    width: 1160px;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 80px;
}

.service-item {
    margin-right: 100px;
}

.service-item h3 {
    max-width: 300px;
    margin-top: 20px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.service-item p {
    max-width: 300px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 37px;
}

.service-item:nth-child(2) .button {
    background-color: #00ca74;
}

.service-item:nth-child(2) .button:hover,
.service-item:nth-child(2) .button:focus {
    background-color: #00bc6c;
}

.service-item:nth-child(2) .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
}

.service-item:last-child .button {
    background-color: #efc84a;
}

.service-item:last-child .button:hover,
.service-item:last-child .button:focus {
    background-color: #eab534;
}

.service-item:last-child .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
}

.index-columns {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 2px solid #eeeeee;
}

.description h2 {
    max-width: 700px;
    margin: 0;
    margin-bottom: 37px;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.description p {
    max-width: 660px;
    margin: 0;
    margin-bottom: 48px;
}

.description h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.description ul {
    list-style: none;
}
.description li {
    position: relative;
    padding-bottom: 30px;
}

.description li::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 10px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.figures {
    margin-left: auto;
}

.figures h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.figures-table {
    padding-left: 25px;
}

.figures-table td {
    text-align: left;
}

.figures-item  {
    font-size: 45px;
    font-weight: 700;
    height: 62px;
    text-align: left;
}

.clients-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1160px;
    min-height: 180px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

.clients-item {
    opacity: 0.2;
}

.clients-item:hover,
.clients-item:focus {
    opacity: 1;
}

.clients-item:active {
    opacity: 0.1;
}

.contacts {
    position: relative;
}

.contacts-details {
    position: absolute;
    left: 110px;
    top: 54px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 50px;
    padding-top: 63px;
}
.contacts-details h3 {
    text-transform: uppercase;
}

.contacts-details p {
    color: #666666;
}

.pin {
    position: absolute;
    top: 85px;
    right: 370px;
}

.write-us-item label {
    font-weight: 500;
    color: #000000;
}

.write-us-item input {
    font: inherit;

    color: rgba(68, 68, 68, 0.5);
    line-height: 18px;
    border: 2px solid #d7dcde;
    cursor: pointer;
}

.write-us-item input:hover {
    border-color: #b4b9bb;
}

.write-us-item input:focus {
    border-color: #000000;
}


.modal h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
    margin: 0;
}

.main-footer {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-social ul {
    list-style: none;
    width: 360px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 90px;
}

.social-button {
    display: inline-block;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 6px;
    background-repeat: no-repeat;
}
.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
}

.social-vk {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("img/vk-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-fb {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("img/fb-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-inst {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("img/insta-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-vk:active,
.social-fb:active,
.social-inst:active {
    opacity: 0.3;
}

.footer-text b {
    display: block;
    margin-top: 20px;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.footer-text p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    max-width: 460px;
}

/* Страница каталога */


.catalog-title {
    min-height: 200px;
    margin: 0;
    margin-bottom: 110px;
    padding: 0;
    padding-top: 80px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    color: #000000;
    background-color: #eeeeee;
}

fieldset {
    border: none;
}


.filter {
    width: 260px;
    margin-right: 140px;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filter-form ul {
    list-style: none;
    line-height: 20px;
}

.filter-input + label {
    color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;

    opacity: 0.3;
}

.filter-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #000000;

    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: #000000;

    opacity: 0.3;
}

.catalog ul {
    list-style: none;
    cursor: pointer;
}
.catalog-item:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item-description {
    display: none;
}

.catalog-item:hover  .catalog-item-description {
    display: block;
}

.pagination-item a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    opacity: 0.3;
    background-color: #d5d5d5;
}

.pagination-item-current a {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}


/* Сетка страницы каталога */



.catalog {
    width: 760px;
}

.catalog-columns {
    display: flex;
    width: 1160px;

}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.catalog-item {
    width: 360px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.pagination-list {
    margin: 0;
    padding: 0;

    list-style: none;
}










